*{
    margin: 0 auto;
}

#principal{
    position: relative;
    width: 900px;
    height: 500px;
    background: rgb(192, 187, 187);
    top: 80px;
}

#um{
    position: absolute;
    width: 180px;
    height: 380px;
    background: hsl(31, 77%, 52%);
    padding: 60px;
}

#dois{
    position: absolute;
    width: 180px;
    height: 380px;
    background: hsl(184, 100%, 22%);
    left: 300px;
    padding: 60px;
}

#tres{
    position: absolute;
    width: 180px;
    height: 380px;
    background: hsl(179, 100%, 13%);
    left: 600px;
    padding: 60px;
}

p{
    font-size: 15px;
    text-align: left;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca';
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

h1{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display';
}

button{
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}

button:hover{
    cursor: pointer;
}

.btn-um{
    color: hsl(31, 77%, 52%);
}

.btn-dois{
    color: hsl(184, 100%, 22%);
}

.btn-tres{
    color: hsl(179, 100%, 13%);
}